<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqToTwitter" version="3.1.2" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="MonoAndroid50" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="MonoAndroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid60" />
  <package id="Plugin.Share" version="4.0.3" targetFramework="monoandroid60" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.8.0.5" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.CustomTabs" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="monoandroid60" />
  <package id="Xamarin.Forms.Maps" version="2.3.2.127" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Base" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Basement" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Maps" version="29.0.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.GooglePlayServices.Wearable" version="29.0.0.1" targetFramework="monoandroid60" />
</packages>