<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LinqToTwitter" version="3.0.3" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid403" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Android.Support.v4" version="19.0.2" targetFramework="MonoAndroid403" />
  <package id="Xamarin.Forms" version="1.0.6188" targetFramework="MonoAndroid403" />
</packages>