<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="57fd42c7-3e57-47b2-a5d5-ca2bc360b7f7" Publisher="CN=Motz" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Hanselman.WindowsStore</DisplayName>
    <PublisherDisplayName>Motz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Hanselman.WindowsStore.App">
      <m2:VisualElements DisplayName="Hanselman" Square150x150Logo="Assets\scott150.png" Square30x30Logo="Assets\SmallLogo.png" Description="Hanselman.WindowsStore" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile DefaultSize="square150x150Logo" ShortName="Hanselman" Square70x70Logo="Assets\Square70x70Logo.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>