<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linqtotwitter" version="3.0.4" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl.Build" version="1.0.20-beta" targetFramework="MonoTouch10" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="MonoTouch10" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="MonoTouch10" />
  <package id="Xamarin.Forms" version="1.2.3.6246-pre1" targetFramework="MonoTouch10" />
</packages>